<link rel="stylesheet" href="../../css/flatdetails.css" />
<link rel="stylesheet" href="../../css/additional-info-div.css" />
<div class="container">
    <br />
    <h4 class="mb-3">Add new Offer</h4>
    <form name="form" ng-submit="addOffer($event)">

        <div class="row mb-2">
            <div class="col-sm-4">
                <select class="input-base select-single" ng-model="offerType.model" placeholder="pr. from"
                        ng-options="opt.id as opt.name for opt in offerType.availableOptions"></select>
            </div>
            <div class="col-sm-4">
                <select class="input-base select-single" ng-model="propertyType.model"
                        ng-options="opt.id as opt.name for opt in propertyType.availableOptions">
                    <option value="" disabled selected>&lt;Choose your propety type&gt;*</option>
                </select>
            </div>
            <div class="col-sm-4">
                <input type="number" required class="input-base input-single form-control" ng-model="price" placeholder="Type price:*" />
            </div>
        </div>
        <div class="upload-btn-wrapper" ng-show="uploadedImages.length<photoUploadLimit">
            <button class="upload-btn btn-primary">Upload Photos</button>
            <input type="file" accept="image/*" image="newImage" multiple ng-model="uploadedFiles"
                   resize-max-height="800" resize-max-width="800" resize-quality="0.7" resize-type="image/jpeg" ng-image-compress />
        </div>
        <div class="row mb-3" ng-show="uploadedImages.length>0">
            <div class="col-md-6">
                <div class="col-md-12">
                    <button class="close-icon" ng-click="deletePhoto(uploadedImages[0])"></button>
                    <img ng-src="{{uploadedImages[0].dataURL}}" style="width:100%;margin-bottom:-6px">
                </div>
            </div>
            <div class="col-md-6 row">
                <div class="col-md-3" ng-repeat="image in uploadedImages.slice(1,uploadedImages.length)">
                    <button class="close-icon" ng-click="deletePhoto(image)"></button>
                    <img class="demo w3-hover-opacity-off"
                         ng-src="{{image.dataURL || '../../img/flat/noImage.jpg'}}" style="width:100%;cursor:pointer;" ng-click="setMainPhoto(image)">
                </div>
            </div>
        </div>
        <div class="row content">
            <div class="col-sm-4">
                <div class="form-group">

                    <input type="text" class="input-base input-single form-control" name="city"
                           ng-autocomplete ng-model="city" geo-result="geoResult" placeholder="Enter location:*" />
                    <span ng-show="form.city.$dirty && form.city.$error.notexists" class="error-span">Location is not exist<br /></span>

                </div>
            </div>
            <div class="col-sm-8">
                <div class="mb-1" id="map" style="height:50vh"></div>
            </div>
        </div>

        <details class="mb-3">
            <summary class="btn btn-block mb-2">Additional info</summary>
            <div ng-include src="'components/_templates/additional-filter-div.html'"></div>
            <div class="row mb-3">
                <div class="col-sm-10">
                    <textarea class="input-base form-control" rows="3" placeholder="Other description" ng-model="description"></textarea>
                </div>
            </div>
        </details>

        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || dataLoading || !geoResult || !propertyType.model" class="btn btn-block btn-success">ADD OFFER</button>
            <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>

    </form>
    <br />
    <br />
    <br />
</div>
