<h4 class="mb-3 smallresolution-show">Messages</h4>
<h2 ng-show="chatUsers.length==0" class="no-messages-h2" ng-cloak>No messages found</h2>
<table ng-show="chatUsers.length!=0" class="container clearfix chat-table" ng-cloak>
    <tr>
        <td class="people-list" id="people-list">
            <div class="search">
                <input type="text" placeholder="search" />
            </div>
            <ul class="list">
                <li class="clearfix" ng-class="chater.id==chosenChater.id ? 'chosenChater' : ''" ng-repeat="chater in chatUsers" ng-click="chooseChater(chater)">
                    <img class="rounded-circle" ng-src="{{chater.profileImageURL || '../../img/profile/profile.jpg'}}" />
                    <div class="about">
                        <div class="name">{{chater.name}}</div>
                        <div class="status online" ng-class="getOnlineStatus(chater.lastOnlineDateTime)==='Online' ? 'online' : 'offline'"> {{getOnlineStatus(chater.lastOnlineDateTime)}} </div>

                    </div>
                </li>
            </ul>
        </td>
        <td class="chat">
            <div id="chat-header" class="chat-header clearfix">

                <div class="chat-about">
                    <div class="chat-with">chat with <b>{{chosenChater.name | uppercase}}</b></div>
                </div>
            </div>
            <div class="chat-history">
                <ul>
                    <li ng-class="message.userIdTo == chosenChater.id ? 'clearfix' : ''" ng-repeat="message in userMessages | filter:chosenChater.id:strict">
                        <div class="message-data" ng-class="message.userIdTo == chosenChater.id ? 'align-right' : '' ">
                            <span class="message-data-time">{{getMessageCreateDateTime(message.createDateTime)}}</span>
                            <span ng-show="!isSmallResolution" class="message-data-name">- {{message.userIdTo == chosenChater.id ? 'ME' : chosenChater.name }}</span>
                        </div>
                        <div class="message" ng-class="message.userIdTo == chosenChater.id ? 'my-message float-right' : 'other-message'">
                            {{message.body}}
                        </div>
                    </li>
                </ul>
            </div>

            <div class="chat-message clearfix">
                <textarea name="message-to-send" id="message-to-send" ng-model="$parent.newMessage" placeholder="Type your message" rows="2"></textarea>
                <div id="chat-button-div">
                    <button ng-click="sendChatMessage()" ng-show="$parent.newMessage"><b>Send</b></button>
                    <button id="chat-button-attach">Attach</button>
                </div>
            </div>

        </td>

    </tr>
</table>
